In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv(r'../Dataset/Automated_Traffic_Volume_Counts.csv')

In [11]:
df_new = df[df['Yr']<2020]

In [14]:
df_new = df_new[df_new['Yr'] > 2012]

In [16]:
segments = list(set(df_new['SegmentID']))

In [17]:
seg_df = pd.DataFrame(segments, columns=['SegID'])

In [18]:
seg_df

       SegID
0      65539
1      32775
2      32779
3      32780
4      32784
...      ...
12082  65514
12083  65515
12084  32760
12085  32761
12086  98298

[12087 rows x 1 columns]

In [19]:
seg_df.to_csv(r'../P3/segmentList.csv')

In [41]:
df_2013 = df[df['Yr']==2019]
seg_list = list(set(df_2013['SegmentID']))
len(seg_list)

1693

In [42]:
df_2013

,RequestID,Boro,Yr,M,D,HH,MM,Vol,SegmentID,WktGeom,street,fromSt,toSt,Direction
23981792,29681,Queens,2019,1,8,0,0,28,59422,POINT (1046783.3444483643 180020.72378834104),ROCKAWAY BOULEVARD,146 Road,147 Avenue,NB
23981793,29681,Queens,2019,1,8,0,15,25,59422,POINT (1046783.3444483643 180020.72378834104),ROCKAWAY BOULEVARD,146 Road,147 Avenue,NB
23981794,29681,Queens,2019,1,8,0,30,17,59422,POINT (1046783.3444483643 180020.72378834104),ROCKAWAY BOULEVARD,146 Road,147 Avenue,NB
23981795,29681,Queens,2019,1,8,0,45,19,59422,POINT (1046783.3444483643 180020.72378834104),ROCKAWAY BOULEVARD,146 Road,147 Avenue,NB
23981796,29681,Queens,2019,1,8,1,0,17,59422,POINT (1046783.3444483643 180020.72378834104),ROCKAWAY BOULEVARD,146 Road,147 Avenue,NB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27414476,31054,Queens,2019,10,20,22,45,5,49507,POINT (1018436.0690197587 196329.9638902961),73 PLACE,Central Avenue,Dead end,SB
27414477,31054,Queens,2019,10,20,23,0,7,49507,POINT (1018436.0690197587 196329.9638902961),73 PLACE,Central Avenue,Dead end,SB
27414478,31054,Queens,2019,10,20,23,15,4,49507,POINT (1018436.0690197587 196329.9638902961),73 PLACE,Central Avenue,Dead end,SB
27414479,31054,Queens,2019,10,20,23,30,5,49507,POINT (1018436.0690197587 196329.9638902961),73 PLACE,Central Avenue,Dead end,SB
27414480,31054,Queens,2019,10,20,23,45,5,49507,POINT (1018436.0690197587 196329.9638902961),73 PLACE,Central Avenue,Dead end,SB

In [4]:
import shutil
import os

In [9]:
file_folder = r'../P3/RemoteSensing/'
file_list = os.listdir(file_folder)

In [16]:
for i in range(len(file_list)):
    print(i)
    file = file_list[i]
    file_path = os.path.join(file_folder, file)
    extract_dir = r'../P3/RS/'
    shutil.unpack_archive(file_path, extract_dir)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99